@import url("./colors.css");

@define-color color2 @primary_container;
@define-color color8 @surface_bright;
* {
  font-family: "Inter Variable";
  font-size: 16px;
  text-shadow: none;
}

window#waybar {
  color: @foreground;
  background: @background;
  padding: 10px;
}

#workspaces {
  margin: 0 5px;
  color: @color2;
}

#workspaces button {
  padding: 0 5px;
  color: @background;
  margin: 5px;
  border-radius: 0.2rem;
  background: @color8;
  transition: all 0.2s linear;
}

#workspaces button.visible {
  color: @background;
}

#workspaces button.focused {
  margin: 3px;
  border-radius: 0.4rem;
  background: @color2;
  padding-left: 20px;
  padding-right: 20px;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#battery {
  margin: 5px;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  transition: all 0.2s linear;
}

#battery:hover {
  margin: 1px;
  padding-right: 12px;
  padding-left: 12px;
  transition: all 0.2s linear;
}

#battery.full {
  background: darkseagreen;
  color: @background;
}

#battery.good {
  background: #abe9b3;
  color: black;
}

#battery.warning {
  background: orange;
  color: black;
}
#battery.critical {
  background: #cf4b55;
  color: white;
}

#mode {
  background: @color2;
  color: black;
  font-size: 12pt;
  font-weight: bold;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid @background;
  border-radius: 10px;
}

#backlight {
  margin: 5px;
  background: @color2;
  color: @background;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
  transition: all 0.2s linear;
}

#backlight:hover {
  margin: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#mode,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-mail {
  margin: 2px 6px 2px 10px;
  min-width: 25px;
}
#network,
#pulseaudio {
  margin: 2px;
  padding-right: 5px;
  transition: all 0.1s linear;
}

#network:hover,
#clock:hover,
#pulseaudio:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: background 0.1s linear;
}

#clock {
  margin: 2px 16px 2px 16px;
  padding: 0 5px 0 5px;
  min-width: 140px;
  font-weight: bold;
  transition: all 0.1s linear;
}

#ai {
  margin: 0 1rem 0 1rem;
}
