@import url("./colors.css");

* {
  border: none;
  border-radius: 0;
  font-family: NotoSans, "FiraCode Nerd Font";
  font-size: 16px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0.5s;
  transition-property: background, border, padding, margin, width, height;
}

window#waybar {
  color: @primary;
  background: @surface_container_low;
  padding: 5px;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: @on_surface;
  border: 3px solid @surface_container_low;
  border-radius: 10px;
  background: @surface_container;
  transition: background 0.2s linear, padding 0.2s linear, width 0.2s linear;
}

#workspaces button.visible {
  color: @on_primary;
  background: @primary_container;
  transition-property: background, padding, width, height;
}

#workspaces button.focused {
  border: 3px solid @surface_container_low;
  border-radius: 10px;
  background: @primary;
  color: @on_primary;
  padding-left: 20px;
  padding-right: 20px;
  transition-property: background, padding, width, height;
}

#workspaces button.urgent {
  color: @on_error;
  background: @error;
  transition-property: background, padding, width, height;
}

#battery {
  border-radius: 10px;
  border: 5px solid @surface_container_low;
  padding-left: 6px;
  padding-right: 6px;
}

#battery.full {
  background: @tertiary_container;
  color: @on_tertiary_container;
}

#battery.good {
  background: @secondary_container;
  color: @on_secondary_container;
}

#battery.warning {
  background: @tertiary;
  color: @on_tertiary;
}

#battery.critical {
  background: @error;
  color: @on_error;
}

#mode {
  background: @secondary;
  color: @on_secondary;
  font-size: 12pt;
  font-weight: bold;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid @surface_container_low;
  border-radius: 10px;
}

#backlight {
  background: @tertiary_container;
  color: @on_tertiary_container;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
  border: 5px solid @surface_container_low;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-mail {
  margin: 0px 6px 0px 10px;
  min-width: 25px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 140px;
  font-weight: bold;
}